/* ========================================
   RESET
======================================== */
body {
  margin: 0;
  background-color: #FFFFFF;
  font-family: 'Roboto Condensed', sans-serif;
  /* overflow-x: hidden; */
}

/* ========================================
   LAYOUT
======================================== */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

/* ========================================
   TYPOGRAPHY
======================================== */

.title-large {
  font-size: 72px;
  font-weight: 700;
}

.title-medium {
  font-size: 60px;
  font-weight: 700;
}

.text-base {
  font-size: 24px;
  line-height: 1.6;
}

.font-normal {
  font-weight: 300;
}
.font-normal-small {
  font-size: 18px;
  line-height: 1.6;
    font-weight: 400;

}

/* ========================================
   BUTTONS
======================================== */

.button-primary {
  padding: 14px 36px;
  background-color:#FFFFFF;
  color: #FA8550;

  font-size: 20px;
  font-weight: bold;

  border: none;
  border-radius: 30px;

  cursor: pointer;
  margin-top: 30px;

  transition: 0.2s;
}

.button-primary:hover {
  transform: translateY(-2px);
}

/* ========================================
   HEADER
======================================== */

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}

/* ========================================
   HEADER - LOGO
======================================== */

.logo img {
  height: 30px;
  width: auto;
}

/* ========================================
   HEADER - NAVIGATION
======================================== */

nav {
  display: flex;
  align-items: center;
  gap: 32px;
  margin: 15px 0;
}

.nav-list {
  display: flex;
  gap: 32px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list li a {
  color: #333333;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 0.5px;
}

/* ========================================
   HAMBURGER MENU
======================================== */

.hamburguer-button {
  display: none;
  width: 30px;
  height: 20px;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
}

.hamburguer-button span,
.hamburguer-button::before,
.hamburguer-button::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background: #333;
  transition: 0.3s;
  border-radius: 2px;
}

.hamburguer-button::before {
  top: 0;
}

.hamburguer-button span {
  top: 50%;
  transform: translateY(-50%);
}

.hamburguer-button::after {
  bottom: 0;
}

/* ========================================
   HERO
======================================== */

.banner-section {
  position: relative;
  width: 100%;
  height: calc(100vh - 70px);

  background-image: url(/src/assets/img/image5-bg.jpg);
  background-size: cover;
  background-position: center;
}

/* overlay escuro */

.banner-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.5);
  z-index: 1;
}

.banner-section .container {
  height: 100%;
  display: flex;
  align-items: center;
}

/* ========================================
   HERO CONTENT
======================================== */

.hero-text {
  position: relative;
  z-index: 2;
  max-width: 550px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  color: white;
}

.hero-text h1 {
  font-size: 72px;
  /* margin-bottom: 8px; */
}

.hero-text p {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.6;
}

/* linha branca */

.banner-divider {
  width: 100px;
  height: 5px;
  background: white;
  margin: 30px 0;
  border-radius: 3px;
}
.banner-divider.center {
  margin: 30px auto;
}
.banner-divider.center.orange {
  background: #FA8550;
}
/* ========================================
   HERO SCROLL INDICATOR
======================================== */

.scroll-indicator {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.scroll-indicator img {
  width: 40px;
  transform: rotate(-90deg);
}

/* ========================================
   ABOUT
======================================== */

.about-section {
  /* width: 100%; */
  background: #FA8550;
  text-align: center;
  padding: 100px 24px;
}

.about-section .container {
  max-width: 700px;
  margin: 0 auto;
  color: white;
}

/* ========================================
   FEATURES SECTION
======================================== */


.features-section {
  background: #FFFFFF;
  text-align: center;
  padding: 100px 20px;
}


.features-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;  /* espaço entre os cards */
  margin-top: 60px;
}

.feature-item {
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 10px;  /* espaço entre icon, h3 e p */
}
.feature-item h3,
.feature-item p {
  margin: 0;
   max-width: 320px;
   text-align: center;
}


/* ========================================
   RESPONSIVE
======================================== */

@media (max-width: 1024px) {
  nav {
    position: relative;
  }

  .hamburguer-button {
    display: block;
    position: relative;
    z-index: 1001;
  }

  .nav-list {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    background: #FFFFFF;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;

    clip-path: circle(0 at 90% 40px);
    transition: clip-path 0.5s ease-in-out;

    pointer-events: none;
    z-index: 1000;
  }

  .nav-list.active {
    clip-path: circle(150% at 90% 40px);
    pointer-events: all;
  }

  .nav-list li a {
    font-size: 24px;
  }

  .hamburguer-button.active span {
    opacity: 0;
  }

  .hamburguer-button.active::before {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }

  .hamburguer-button.active::after {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
  .text-base {
    font-size: 24px;
  }
    .features-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 750px) {

  .container {
    padding: 0 16px;
  }

  .hero-text h1 {
    font-size: 48px;
  }

  .hero-text p {
    font-size: 20px;
  }
   .features-grid {
    grid-template-columns: 1fr;
  }

}